[submodule "netapi/lib/FireCheck"]
	path = netapi/lib/FireCheck
	url = git@github.com:Wyko/FireCheck.git
[submodule "netapi/lib/netapi"]
	path = netapi/lib/netapi
	url = https://gitlab.com/the-networkers/netaudithor/netapi
[submodule "netapi/lib/stockpiler"]
	path = netapi/lib/stockpiler
	url = git@github.com:lykinsbd/stockpiler.git
[submodule "netapi/lib/flowtracker"]
	path = netapi/lib/flowtracker
	url = git@github.com:networktocode/flowtracker.git
[submodule "netapi/lib/netcrawl"]
	path = netapi/lib/netcrawl
	url = git@github.com:Wyko/netcrawl.git
[submodule "netapi/lib/carphunter"]
	path = netapi/lib/carphunter
	url = https://github.com/jondkelley/carphunter
